.Canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background:url(https://animals.sandiegozoo.org/sites/default/files/2016-08/habitats_hero_rainforest.jpg) 
}

input {
 border: solid 2px black;
 margin-bottom: 10px;
 padding: 6px;
 text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

::placeholder {
  padding: 6px;
  text-align: center;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
}

.box {
  border: 1px solid black;
  padding: 55px 100px;
  margin: 16px;
  box-shadow: 5px 5px;
  background-color: rgb(26, 178, 76);
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  align-items: center;
}


.Submit {
  padding: 8px;
  background-color: rgb(75, 74, 74);
  border: black 1px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px;
  font-weight: bold;
  text-shadow: 1px;
  cursor:  pointer;
  display: flex;
  flex-direction: row;
  min-width: 29vh;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}

h1 {
  margin: 0px;
  align-self: center;
}

.Lg {
  margin-bottom:0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.Lg .Lg1 {
  text-decoration: none;
  margin-left: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}

.Welc {
  margin-bottom: 30px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder; 
}

